html{
	height:100%;
}

body{	
	width:100%;
	height:100%;
	background-image: url('Images/IMG79.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	margin-top:0px;
}

/*#header-links{
	margin-top:10px;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;
}*/
h1{
	color:white;
	font-size: 60px;
	font-family: 'Sanchez', Helvetica, Arial;
	letter-spacing: 2px;
	
}

#name-header {
	padding-left:60px;
	margin-top:1%;
	color:white;
	float:left;
	clear:both;
	height:30px;
}


#line{
	color:white;
	display:inline-block;
	margin-right:5px;
	margin-left: 5px;
}

a:-webkit-any-link{
color: #ff0033;
text-decoration: none;
cursor: auto;
}

p{
	
	display:inline-block;
	text-decoration: none;
	letter-spacing: 2px;
	font-family: 'Rambla';

}




#portfolio{
	margin-top:10%;
	height:10px;
	margin-left: 12px;
	display:inline-block;
	text-decoration: none;
	color:#ff0033;
}

#line{
	margin-top:10%;
	height:10px;
	margin-right:10px;
	margin-left: 12px;
	float:left;
	display:inline-block;
	text-decoration: none;
}

#collection{
	margin-top:10%;
	height:10px;
	margin-left: 12px;
	display:inline-block;
	text-decoration: none;
	color:#ff0033;
}

#profile{
	margin-top:10%;
	height:10px;
	margin-left: 12px;
	display:inline-block;
	text-decoration: none;
	color:#ff0033;
}


#profile:hover{
	color:#ff6666;

}

#collection:hover{
	color:#ff6666;

}

#portfolio:hover{
	color:#ff6666;

}




