html{
	padding:10px;
	font-family: 'Raleway', 'HelveticaNeue-Light';
	height:100%;
}

@font-face {
  font-family: 'Anders';
  src: url('Anders.eot'); /* IE9 Compat Modes */
  src: url('Anders.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Anders.woff') format('woff'), /* Modern Browsers */
       url('Anders.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Anders.svg#b307360d26704b508dad548d1852c5fa') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

body{	
	width:100%;
	height:100%;
	background-image: url('Images/IMG79.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	margin-top:0px;
}

#header-links{
	margin-top:10px;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;
}
h1{
	text-align: justify;
	color:white;
	font-family: 'Anders', Helvetica, Arial;
	letter-spacing: 2px;
}

#name-header {
	margin-left:10px;
	color:white;
	float:left;
	clear:both;
}
/*
#name-header:hover{
	color:white;
	text-align: center;
	margin-left:10px;
	float:left;	
	display:inline-block;
	clear:both;
}*/



#line{
	color:white;
	display:inline-block;
	margin-right:5px;
	margin-left: 5px;
}

a:-webkit-any-link{
color: #ff0033;
text-decoration: none;
cursor: auto;
}

p{
	margin-top:40px;
	color:white;
	display:inline-block;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: 'HelveticaNeue-Light', Georgia, Times, serif;
}

p:hover{
	height:10px;
	margin-top:40px;
	display:inline-block;
	color:#ff0033;
}

#portfolio{
	height:10px;
	margin-top:80px;
	margin-left: 10px;
	display:inline-block;
	color:white;
	text-decoration: none;
}

#collection{
	height:10px;
	margin-top:80px;
	display:inline-block;
	color:white;
}

#profile{
	height:10px;
	margin-top:80px;
	display:inline-block;
	color:white;
}





