html{
	padding:20px 0px 20px 50px;
}




thead{
	font-family: 'Sanchez', Helvetica, Arial, sans-serif;
	font-size: 400%;
	letter-spacing: 3px;
	text-decoration: none;
	color:black;
	}

#back{
	/*position:relative;*/
	font-family: 'Arvo', Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color:black;

	

	border:3px;
	border-style:solid;
	border-radius:3px;

	margin-top:20px;
	margin-left:20px;

	padding:2px;
	padding-left:15px;
	padding-right:15px;
	
	display:inline-block;
}

#back:hover{
	color:#ff0033;
	
}


img{
	width:90%;
	margin-top:10em;
}



/*#image1:hover{
	width:80%;
	height:80%;
	display:block;
	position:fixed;

	z-index: 10;
	margin-top:1em;
    margin-left:3em;
    top: 10%;
    right:10%;
    bottom:10%;
    left: 10%;
}*/



/*#collection{
	z-index: 10px;
	position:fixed;	
	width:100%;
	margin:-70px;
}

collection text
h1{
	z-index: 10px;
	background-color:white;
	color:black;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size:40px;
	letter-spacing: 1px;
	margin-top:-20px;
	padding-left:40%;
	padding-top:20px;
	padding-bottom:5px;
}

#collection-images{
	z-index:1px;
	display:inline-block;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	margin:50px 15px 0px 15px;
}

#images{
	z-index:1px;
	width:300.8px;
	display:table;
	margin:60px 15px 30px 15px;
}

#footer{
	display:inline-block;
	width:100%;
	float:right;
	height:40px;

}
#header-links{
	display: inline-block;
	background-color:transparent;
	width:25px;

}
*/