html{
	padding:30px;
	height:100%;
}

body{
	background-size: 100%;
	background-repeat:no-repeat;
}

#back{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color:black;
	border-color:black;
	padding:2px;
	border:3px;
	border-style:solid;
	margin-top:0px;
	padding-left:15px;
	padding-right:15px;
	display:inline-block;

}

#back:hover{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color:#ff0033;
	border-color:#ff0033;
	padding:2px;
	border:3px;
	border-style:solid;
	margin-top:0px;
	padding-left:15px;
	padding-right:15px;
	display:inline-block;
}

h1{
	text-align: justify;
	color:black;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	margin-top:10px;
	font-size:40px;
	letter-spacing: 1px;
	display: inline-block;
}

#header-links{
	margin-top:10px;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;
	width:25px;
}

#collection-images{
	display:inline-block;
	width:300.8px;
	height:200px;
	background-repeat: no-repeat;
}

/*.collection-images img:hover
{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}*/

#images{
	width:300.8px;
	display:inline-block;
	margin:15px 7px 25px 7px;
}

