html{
	padding:30px;
	font-family: "HelveticaNeue-Light";
	height:100%;
}

body{
	background-image: rgba(0 0 0 0.5);
	background-size: 100%;
	background-repeat:no-repeat;
}

h1{
	text-align: justify;
	color:black;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	margin-top:10px;
	font-size:40px;
	letter-spacing: 1px;
	display: inline-block;
}

#header-links{
	margin-top:10px;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;
}

#collection-images{
	display:inline-block;
	width:300.8px;
	background-repeat: no-repeat;
}

#images{
	width:300.8px;
	display:inline-block;
	margin:15px 7px 25px 7px;
}

