html{
	padding:30px;
	font-family: "HelveticaNeue-Light";
	height:100%;
}
body{
	
	width:100%;
	height:100%;
	float:right;
	margin:-20px 0px -20px -20px;

	background-image: url('background1.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	border:5px;
	border-style:solid;
	border-color:white;
	margin-top:20px;
	/*opacity:0.5;*/
	
	/*padding-left:15px;*/
}


h1{
	text-align: justify;
	color:white;
	font-family: "HelveticaNeue-Light";
	font-size:40px;
}

#name-header {
	margin-left:10px;
		margin-top:20px;
	/*font-weight: thin;*/
	/*margin-top: 100px;
	margin-right: 400px;
	margin-left:400px;*/
/*	font-size: 130%;*/
/*	text-align: center;*/
	/*font-family: "HelveticaNeue-Light";*/
	/*"Helvetica Neue",Helvetica,Arial,"sans-serif";*/
	/*font-weight: 20;*/
	color:white;
	/*letter-spacing:5px;*/
	float:left;
	
	clear:both;
	/*opacity:1;*/


}

#name-header:hover
{
	color:white;
	text-align: center;
	margin-left:10px;
	margin-top:20px;
/*	opacity: 1;*/
	/*margin-top: 100px;
	margin-right: 400px;
	margin-left:400px;*/
/*	font-size: 130%;*/
	/*font-family: "Helvetica Neue-Light";*/
	/*"Helvetica Neue",Helvetica,Arial,"sans-serif";*/
/*	font-weight: 20;*/
	/*letter-spacing:5px;*/
	float:left;	
	display:inline-block;

	clear:both;
}





#header-links{
	margin-top:10px;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;

}

a:-webkit-any-link{
color: white;
text-decoration: none;
cursor: auto;
}

a:hover{
	color:#ff0033;
}

p{
	margin-top:40px;
	color:white;
	display:inline-block;
	text-decoration: none;
}
/*use list instead?*/

p:hover{
	height:10px;
	margin-top:40px;
	display:inline-block;
	color:#ff0033;
}

#gallery{
	height:10px;
	margin-top:80px;
	margin-left: 10px;
	display:inline-block;
	color:white;
	text-decoration: none;
}

/*#gallery:hover{
	height:10px;
	margin-top:80px;
	margin-left: 10px;
	display:inline-block;
	color:#ff0033;
}*/

#collection{
	height:10px;
	margin-top:80px;
	display:inline-block;
	color:white;
}

/*#collection:hover{
	height:10px;
	margin-top:80px;
	display:inline-block;
	color:#ff0033;
}*/

#profile{
	height:10px;
	margin-top:80px;
	display:inline-block;
	color:white;
}

/*#profile:hover{
	height:10px;
	margin-top:80px;
	display:inline-block;
	color:#ff0033;
}*/


