html{
	padding:30px;
	font-family: "HelveticaNeue-Light";
	height:100%;
}

body{
	background-image: url('Images/background1.jpg');
	height:100%;
	width:100;
	background-size: 100%;
	background-repeat:no-repeat;
}

a{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color:white;
}

#homepage{
	display:inline-block;
	border-color:white;
	padding:1px 10px 0.5px 5px;
	border:2px;
	border-style:solid;
}

h1{
	color:white;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	/*font-family: "Futura";*/
	margin-top:10px;
	font-size:40px;
	letter-spacing: 1px;
	display: inline-block;
}

#header-links{
	margin-top:10px;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;
	border:none;
}

