
#header-links{
	margin-top:relative;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;
	border:none;
}
	#back{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color:black;
	padding:2px;
	border:2px;
	border-style:solid;
	border-radius: 3px;
	margin-top:10px;
	margin-left:10px;
	padding-right:15px;
	padding-left: 15px;
	display:inline-block;

}

#back:hover{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color:#ff0033;
	padding:2px;
	border:2px;
	border-style:solid;
	border-radius: 3px;
	margin-top:10px;
	margin-left:10px;
	padding-right:15px;
	padding-left: 15px;
	display:inline-block;
}

h1{
	color:black;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	margin-top:40px;
	font-size:40px;
	letter-spacing: 1px;
	display: inline-block;
}



