#back{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color:#ff0033;
	border-color:#ff0033;
	padding:2px;
	border:2px;
	border-style:solid;
	margin-top:0px;
	display:inline-block;

}

#back:hover{
	background-color:#ff0033;
	border-color:#ff0033;
	color:white;
}

#back:hover{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	text-decoration: none;
	background-color:#ff0033;
	border-color:#ff0033;
	color:white;
	padding:2px;
	border:2px;
	border-style:solid;
	margin-top:0px;
	margin-left:10px;
	display:inline-block;
}

h1{
	color:white;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	margin-top:40px;
	font-size:40px;
	letter-spacing: 1px;
	display: inline-block;
}

#header-links{
	margin-top:10px;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;
	border:none;
}