html{
	padding:8px 0px 0px 30px;
}

#test{
	left:50%;
	right:50%;
}
thead{
	font-family: 'Sanchez', Helvetica, Arial, sans-serif;
	font-size: 300%;
	letter-spacing: 3px;
	text-decoration: none;
	color:black;
	}


	#back{
	font-family: 'Sanchez', Helvetica, Arial, sans-serif;
	font-size:15px;
	text-decoration: none;
	color:black;
	
	border:2px;
	border-style:solid;
	border-radius: 3px;

	margin-top:20px;
	margin-left:20px;

	padding:1.5px;
	padding-right:11px;
	padding-left: 11px;

	display:inline-block;

}

#back:hover{
	color:#ff0033;
}

/*h1{
	color:black;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	margin-top:40px;
	font-size:40px;
	letter-spacing: 1px;
	display: inline-block;
}*/

img{
	width:90%;
	margin-top:10em;
}

figure{
	display: inline-block;
}

figcaption{
	font-family: 'Sanchez';
	color:black;
	font-size: 20px;
	text-align: center;
}



/*#header-links{
	margin-top:relative;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;
	border:none;
}*/

/*#image1:hover{
	width:80%;
	height:80%;
	display:block;
	position:fixed;

	z-index: 10;
	margin-top:1em;
    margin-left:3em;
    top: -20px;
    right:20px;
    bottom:20px;
    left: 20px;
}*/



