html{
	padding:30px;
	font-family: "HelveticaNeue-Light";
	height:100%;
}

body{
	background-image: url('Images/background1.jpg');
	height:100%;
	width:100;
	background-size: 100%;
	background-repeat:no-repeat;
}

a{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color:white;
	border-color:white;
	padding:2px;
	border:2px;
	border-style:solid;
	margin-top:0px;

}

#homepage:hover
{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color:#ff0033;
	border-color:#ff0033;
	padding:2px;
	border:2px;
	border-style:solid;
	margin-top:0px;
	margin-left:10px;
	display:inline-block;
}

#homepage{
	display:inline-block;
}



h1{
	color:white;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	margin-top:40px;
	font-size:40px;
	letter-spacing: 1px;
	display: inline-block;
}

#header-links{
	margin-top:10px;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;
	border:none;
}

