html{
	padding:30px;
	height:100%;
}

body{
	background-image: url('Images/background1.jpg');
	height:100%;
	width:100;
	background-size: 100%;
	background-repeat:no-repeat;
}

#header-links{
	margin-top:10px;
	margin-right:5px;
	float:right;
	display: inline-block;
	background-color:transparent;

}

#about2{
	display:table;
	margin-top: auto;
	margin-right:auto;
	margin-left:auto;
}

#about{
	color:white;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	/*font-family: "Futura";*/
	font-weight:normal;
}

#line{
	color:white;
	display:inline-block;
	letter-spacing: 0px;
}

a:-webkit-any-link{
color: white;
text-decoration: none;
cursor: auto;
}

a:hover{
	color:#ff0033;
}

div{
	color:white;
	font-family:'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size:20px;
	display: inline-block;
	margin:10px;
	float:center;
}

div:hover{
	display:inline-block;
	color:#ff0033;
	float:center;
	margin:10px;	
}
#hobbies{
	color:white;
	font-family:'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size:25px;
	display:table;
	margin-right:auto;
	margin-left:auto;
}







;