

html{

	background-color:#ffebcd;
	width:1000px;
	
	

}

a{
	font-family:Verdana;
	color:##660066;
	text-decoration: none;
	/*changes the properties of links*/
}

.widefont{
	font-family:"Times New Roman";

	/*fix me!*/
}

div.three{

	border-style:inset;
	border-width:20px;
	border-top-color: #ff6666;
	border-left-color:#ff6666;
	border-bottom-color:#ff9999;
	border-right-color:#ff9999;
}

/*to make borders on a table*/
/*  *{} is the universal selector, applies things to all HTML elements*/

*{
	border:1px dashed #0000ff;
}

/*BLOCK:makes an element a block box. nothing can sit next to it on the page-it takes up the ful width. INLINE-BLOCK:an element is a block box but other elements can sit next to it on the same line. INLINE:elements sit on the same line as others, but no block formatting. only takes up as much width as it needs. NONE: element disappears from page.*/
#one {
	background-color: #FF0000;
	display:inline-block;
	/* or block/inline/none;*/
	/*with inline, you must specify dimensions-better suited to html elements that are blocks by default, like headers and paragraphs.*/
}
/*assuming you already have <div id="one"></div> in .html*/
 /*BLOCK:makes an element a block box. nothing can sit next to it on the page-it takes up the ful width. INLINE-BLOCK:an element is a block box but other elements can sit next to it on the same line. INLINE:elements sit on the same line as others, but no block formatting. only takes up as much width as it needs. NONE: element disappears from page. */


/*/*margins, borders, padding, content*/

* {
	border: 1px dashed black;
}

div {
	height: 150px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #308014;
	margin:auto;
	/*or margin: 20px 15px 10px 5px;- top, right, bottom, left margins. no commas */

	/*auto makes the div automatically centered on the page.*/
}
